<router-outlet></router-outlet>


<div class="navbar bg-primary fixed z-50">
  <div class="navbar-start">
    <a class="btn btn-base-300 normal-case text-xl" [routerLink]="['/']">LinkyOperator</a>
    <div class="dropdown drop">
      <label tabindex="0" class="btn btn-neutral lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </label>
    </div>

  </div>
  <div class="navbar-center hidden lg:flex"></div>
  <div class="navbar-end">
    <a class="btn btn-neutral" [routerLink]="['/login']" >Se connecter</a>
  </div>
</div>
